<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://use.fontawesome.com/f31bd6d608.js"></script>    
    <title>Sea Ice Animation</title>
  </head>
  <body>
      <div id = "main">
          <br>
          <div id = "mapSpace">
              <div id = "mapContainer">
                  <h3 id = "date"></h3>
                  <div id = "mapAlert">Loading...</div>
                  <div id="map" class="map"></div>
              </div>
          </div>

          <div id = "config">
          <h2>Visualize Sea Ice Change Over Time</h2>
          <form id = "customize">
              <div class = "col1"><input type="radio" value="n" name="n-s">Arctic</div>
              <input type="radio" value="s" name="n-s">Antarctic
              <br>
              <div class = "col1"><input type="radio" value="extent" name="ext-con">Extent</div>
              <input type="radio" value="concentration" name="ext-con">Concentration
              <br>
              <div class = "col1"><input type="radio" value="daily" name="dates">Daily</div>
              <input type="radio" value="monthly" name="dates">Monthly
              <br><br>
              <div class = "timeSelect">
                <div class = "dateSelect"><div class = "dateFlex3"><label for = "sDate" id = "startingText">Starting Date: </label></div><span class = "dateFlex2"><input id = "sDate" type = "date" name = "sDate"></span></div> 
                <div class = "yearSelect"><div class = "dateFlex3"><label for = "sYear" id = "startingYearText">Starting Year: </label></div><span class = "dateFlex2"><input type="number" id="sYear" name="sYear" min="1978" value = "1978"></span></div>  
              </div>
              <i class = "fa fa-info-circle" aria-hidden = "true" id = "info-hover"></i>
              <div class = "timeSelect">
                <div class = "dateSelect"> <div class = "dateFlex3"><label for = "eDate" id = "endingText">Ending Date: </label></div><span class = "dateFlex2"><input id = "eDate" type = "date" name = "eDate"><br></span></div>
                <div class = "yearSelect"><div class = "dateFlex3"><label for = "eYear" id = "endingYearText">Ending Year: </label></div><span class = "dateFlex2"><input type="number" id="eYear" name="eYear" min="1978"></span></div>
              </div>
              <br>
              
              <input type="checkbox" id = "yearLoop">Keep Date Constant and Animate Through Years
              <div class = "loopSelection">
                  Date to Be Looped:
                  <select name="monthLoop">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                  </select>
                  <input type="number" id="dayLoop" name="dayLoop" min="1" max="31" value = "1">
              </div> 
              <br>
              <br>
          </form>
          <div id = "playheadBox">
              <div id = "playhead">
                  <div class = "playheadButton fa fa-3x fa-fast-backward"  id = "firstFrame"></div>
                  <div class = "playheadButton fa fa-3x fa-step-backward" id = "prevFrame"></div>
                  <div class = "playheadButton fa fa-3x fa-play" id = "playButton"></div>
                  <div class = "playheadButton fa fa-3x fa-step-forward" id = "nextFrame"></div>
                  <div class = "playheadButton fa fa-3x fa-fast-forward" id = "lastFrame"></div>
              </div>
              <input type="range" min="1" max="1000000" value="1" class="timeline" id="timeline">
              <div id  = "timelineTickContainer">
                <div class = "timelineScaleTick">|</div>
                <div class = "timelineScaleTick">|</div>
                <div class = "timelineScaleTick">|</div>
                <div class = "timelineScaleTick">|</div>
                <div class = "timelineScaleTick">|</div>
              </div>
              <div id  = "timelineScaleContainer">
                <div class = "timelineScale" id = "scale0"></div>
                <div class = "timelineScale" id = "scale1"></div>
                <div class = "timelineScale" id = "scale2"></div>
                <div class = "timelineScale" id = "scale3"></div>
                <div class = "timelineScale" id = "scale4"></div>
              </div>
              <div id = "speedControls">
                  <hr>
                  <div id = "sliderContainer">
                    <span id = "centerSpeed">Speed:</span>
                    <div id = "sliderSelectionContainer">
                      <span class = "speedSlider1">Slowest</span> <span class = "speedSlider3"><input type="range" id = "speedSlider" name="speed" min="0" max="1900"></span> <span class = "speedSlider1">Fastest</span>
                    </div>
                </div>
              </div>
          </div>
          <div id = "legendContainer">
              Map Legend:
              <hr>
              <img id = "legend">
          </div>
          <div id = "attribution">
          </div>
          </div>
          
      </div>
      <div id = "missing-data-message" class = "hidden">
        <span id = "closeMissingData"><i id = "closeButton" class="fa fa-3x fa-window-close" aria-hidden="true"></i>
        </span>
        <h3>Available Dates</h3> 
        <hr>
        Daily data begin on 26 October 1978 and go through yesterday. From 26 October 1978 through 20 August 1987, the daily data occur every other day. From 21 August 1987 through yesterday, the data occur daily. There are no daily data from 3 December 1987 to 13 January 1988 due to satellite problems.

        <br><br>Monthly averaged data begin in November 1978 and go through last month. There are no monthly data for December 1987 or January 1988 due to satellite problems.
        <br><br>Daily data and monthly average data are not displayed by the animation when they are not available, and are skipped.
      </div>
      <div id = "footer">
        Animation v<%= htmlWebpackPlugin.options.version %> 
      </div>
  </body>
</html>