.map {
    height: 502px;
    width: 100%;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    line-height: 500px;
    font-size:30px;
    background-color: black;
    position: relative;
}

.config {
    display:inline-block;
    vertical-align: top;
}

.ol-zoom-extent button{ 
    background-image: url("extentButton.png");
}
#date {
    position: absolute;
    right: 0px;
    z-index: 10000000;
    background-color: rgba(0,60,136,.7);
    border-radius: 3px;
    padding: 3px;
    color: #ffffff;

}
.playheadButton {
    margin-right: 3px;
    padding: 4px;
    display: inline-block;
    background-size:100% 100%;
    background-color: rgb(36, 149, 255);
    cursor: pointer;
    border-radius: 5px;
}

.firstFrame {
    background-image: url("first.png");
}
.prevFrame {
    background-image: url("prev.png");
}
.play {
    background-image: url("play.png");
}
.pause {
    background-image: url("pause.png");
}
.nextFrame {
    background-image: url("next.png");
}
.lastFrame {
    background-image: url("last.png");
}

.hidden {
    display: none;
}


#mapAlert {
    z-index: 100;
    font-size: 50px;
    color: rgb(46, 92, 241);
    position: absolute;
    left: 100px;
    top: 200px;
}

#mapContainer {
    display: inline-block;
    width: 340px;
    margin-right: 10px;
    position: relative;
    margin-top: 10px;
}

.ol-zoom {
    width: 25px;
    height: 50px;
}

.ol-zoom-extent {
    width: 25px;
    height: 25px;
    top: 2.643em;
}

.ol-zoom-in, .ol-zoom-out {
    width: 23px !important;
    height: 23px !important;
    font-size: 0.85em !important;
}


.ol-zoom-extent button {
    width: 23px;
    height: 23px;
    font-size: 0.57em;
    background-size: cover;
}

#legendContainer {
    width: 100px;
    margin-top: 20px;
    margin-left: -15px;
}

#legend {
    display: block;
    margin: auto;
}

#missing-data-message {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: #e2e2e2;
    left: 670px;
    width: 500px;
    display: none;
}
