.map {
  height: 602px;
  width: 408px;
  border-width: 5px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  line-height: 500px;
  font-size:30px;
  background-color: black;
  position: relative;
}

#config {
  display:inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 400px;
  margin-bottom: 10px;
  position: relative;
  height: auto;
}

.ol-zoom-extent button{ 
  background-image: url("assets/extentButton.png");
}

#date {
  position: absolute;
  right: 10px;
  z-index: 10000000;
  background-color: rgba(0,60,136,.7);
  border-radius: 3px;
  padding: 3px;
  color: #ffffff;
}

.playheadButton {
  margin-right: 5px;
  margin-left: 5px;
  padding: 4px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.hidden {
  display: none;
}


#mapAlert {
  z-index: 100;
  font-size: 50px;
  color: rgb(46, 92, 241);
  position: absolute;
  left: 100px;
  top: 200px;
}

#mapContainer {
  width: 340px;
  margin-right: 10px;
  position: relative;
  display: table;
  
  margin: 0 auto;
}

.ol-zoom {
  width: 25px;
  height: 50px;
}

.ol-zoom-extent {
  width: 25px;
  height: 25px;
  top: 2.643em;
}

.ol-zoom-in, .ol-zoom-out {
  width: 23px !important;
  height: 23px !important;
  font-size: 0.85em !important;
}


.ol-zoom-extent button {
  width: 23px;
  height: 23px;
  font-size: 0.57em;
  background-size: cover;
}

#legendContainer {
  padding-top: 30px;
}

#legend {
  display: block;
  margin: auto;
}

#missing-data-message {
  position: absolute;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: #e2e2e2;
  left: 40%;
  top: 150px;
  width: 500px;
}

#main {
  display: table;
  margin: 0 auto;
  height: auto;
}

#mapSpace {
  display: inline-block;
  width: 580px;
}

#playhead {
  display: table;
  margin: 0 auto;
}

#playheadBox {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: #e3fdff
}

#speedControls {
  display: table;
  margin: 0 auto;
  width: 100%;
}

#closeMissingData {
  float: right;
}

#speedSlider{
  width: 100% !important;
  margin-bottom: -6px;
}

#sliderContainer {
  display: table;
  margin: 0 auto;
  width: 90%;
  }

#centerSpeed {
  display: table;
  margin: 0 auto;
}

.col1 {
  width: 80px;
  display: inline-block;
}

.col2 {
  width: 200px;
  display: inline-block;
}

.loopSelection {
  margin-left: 40px;
  margin-top: 10px;
  display: none;
  margin-bottom: 0px;
}

#footer {
  position: relative;
  bottom: 0px;
  margin: 0px auto;
  padding: 10px;
  text-align: right;
  border: 2px solid black;
  width: 1000px;
  background-color: #e2e0e0;
  border-radius: 4px;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

#dayLoop {
  width: 30px;
}

#attribution {
  margin-top: 20px;
  text-align: center;
  font-size: 12.5px;
}

.timeline {
  -webkit-appearance: none;
  width: 85%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 8%;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  border-radius: 7px;
  background: #0974ff;
  cursor: pointer;
}

.yearSelect {
  display: none;
  width: 100%;
}

.timeline::-moz-range-thumb {
  width: 5px;
  height: 15px;
  border-radius: 7px;
  background: #0974ff;
  cursor: pointer;
}

#sYear, #eYear {
  width: 80px;
}

#timelineScaleContainer {
  display: flex;
  width: 103%;
  height: 50px;
  margin-top: 15px;
  margin-left: -22px;
}

#timelineTickContainer {
  display: flex;
  width: 105%;
  margin-left: -46px;
  margin-top: 0px;
  margin-bottom: 0px;

}


.timelineScale{
  flex-grow: 1;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

.timelineScaleTick{
  flex-grow: 1;
  font-size: 14px;
  display: inline-block;
  text-align: right;
}

#scale0 {
  margin-left: 10px;
}

#sliderSelectionContainer {
  display: flex;
  width: 100%;
}

.speedSlider1{
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}
.speedSlider3{
  flex-grow: 3;
  display: inline-block;
  text-align: center;
}


.dateSelect {
  display: flex;
  width: 100%;
}

.dateFlex3 {
  flex-grow: 3;
}
.dateFlex2 {
  flex-grow: 2;
}

.timeSelect {
  display: inline-block;
  width: 80%;
}

#hoverDate {
  position: fixed;
  top: 100px;
  left: 100px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 100;
  padding: 5px;
}